body {background:#141541 !important; color:#ffffff !important; min-width:400px;}
.panel-background { background:#141541 !important; color:#ffffff !important;}
.title-color {color: #00885d;}
.btn-color {color:#000000; background-color:#ffffff;}
.row-spacing {margin-bottom:10px;}
.btn-toggle-color {background-color:#559b1c; color:#ffffff !important;}
.btn-toggle-sel-color {background-color: #ffffff; color:#559b1c !important;}
.menu-color {background-color:#141541; color:#ffffff}
.row-spacing {margin-bottom:10px;}
.sectionheading {font-weight:bold;background-color:#393a4d;}
.whitecolor { color:#ffffff;}
.greencolor { color:#27af63;}
.iconcolor {color: #559b1c !important;}
#divClip {min-height:200px; max-height:200px; padding:2px;margin-top:2px; background-color:#000000;color:#fffff; overflow:auto; min-width:400px; max-width:400px}
.btnsave-color {color: #559b1c; font-weight: bold;}
.btncancel-color {color: #fa6666; font-weight: bold;}

a { text-decoration:none !important; color: #ffffff !important;}
a#lnkLogout { color:#000000 !important;}
#btnSave:hover { color: #559b1c;}
#lnkCloseClip:hover { color: #fa6666;}
