body {background:#141541 !important; color:#ffffff !important; min-width:400px;}
.panel-background { background:#141541 !important; color:#ffffff !important;}
.title-color {color: #00885d;}
.btn-color {color:#ffffff; background-color:#27af63;}
.btn-toggle-color {background-color:#797979; color:#559b1c !important;}
.btn-toggle-sel-color {background-color:#797979; color:#62b0ec !important;}
.menu-color {background-color:#141541; color:#ffffff}
.row-spacing {margin-bottom:10px;}
.sectionheading {font-weight:bold;background-color:#393a4d;}
.whitecolor { color:#ffffff;}
.greencolor { color:#27af63;}
